* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf

*.sh text eol=lf
*.hook.chroot text eol=lf
*.hook.binary text eol=lf
*.py text eol=lf
*.service text eol=lf
*.target text eol=lf
*.conf text eol=lf
*.desktop text eol=lf
*.json text eol=lf
*.svg text eol=lf
*.list text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.toml text eol=lf

config/live-build/auto/* text eol=lf
config/live-build/includes.chroot/usr/local/bin/* text eol=lf
config/live-build/includes.chroot/etc/gdm3/PostLogin/* text eol=lf

*.ps1 text eol=crlf
